*{
    box-sizing: border-box;
}
@font-face {
    font-family: Azonix;
    src: url(fonts/Azonix.otf);
}
body{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto auto;
    grid-template-areas:
        "header nav"
        "main main"
        "section section"
        "footer footer";
    background-color: #19171A;
    color: #959794;
}
header{
    grid-area: header;
}
#logo{
    height: 80px;
    margin-left: 20px;
}
#logo:hover{
    transform: scale(1.1,1.1);
}
nav{
    grid-area: nav;
    display: inline-flex;
    justify-content: flex-end;
}
.tab{
    margin: 15px;
    padding: 20px;
    font-family: Azonix;
    font-size: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
}
.tab:hover{
    background-color: #E9322E;
    border-radius: 20px;
    color: #ffffff;
}

main{
    grid-area: main;
}
section{
    grid-area: section;
    display: inline-flex;
    justify-content: space-between;
}
section img{
    margin: 5px 0px 5px 0px;
}
footer{
    grid-area: footer;
    
}